@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
}
.box-card-container {
  transform: scale(1) translateZ(0);
  transition:
      filter 200ms linear,
      transform 200ms linear;
}
.box-card-container:hover {
  transform: scale(1.05) translateZ(0);
}

@layer base {
  :root {
    --color-text-base: #767676;
    --color-text-color: #329d9b;
    --tailwind-color: #38bdf8;
    --redux-color: #764abc;
    --git-color: #f54d27;
  }
}
.theme-dark {
  --bg-outside: #000;
  --bg-inside: #191f1e;
  --color-changed: #fff;
}
.theme-light {
  --bg-outside: #e8eeee;
  --bg-inside: #f7fafa;
  --color-changed: #000;
}

@media screen and (max-width: 830px) {
  #projects, #experience {
    flex-direction: column;
    align-items: center;
  }
}